/* Estilos Generales*/

@import url(https://fonts.google.com/specimen/Be+Vietnam+Pro);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    text-decoration: none;
}

/***** HEADER *****/
.header-wraper {
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
    margin-top: 2%;
    flex-wrap: nowrap;
}

.nav-list {
    color: #242E52;
    display: inline-flex;
    font-size: 13px;
    gap: 30px;
}
.nav-list a{
    color: #242E52;
    font-size: 13px;
}
a:hover {
    color: #B9B9C1;
}

.nav-button {
    background-color: #8B48BF;
    padding: 10px, 25px;
    font-size: 15px;
    height: 44px;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    width: 134px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.hamburguer-menu {
    display: none;
}

/***** HERO *****/

.hero-wraper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.hero-img {
    width: 100%;
}

.hero-div {
    height: 462px;
    text-align: end;
    width: 400px;
}

h1 {
    color: #232C50;
    font-size: 50px;
    font-weight: 700;
    line-height: 57.3px;
    margin-top: 20px;
}

.hero-p {
    font-weight: 500;
    font-size: 16.56px;
    line-height: 26px;
    margin-top: 50px;
}

.hero-button {
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 15px;
    height: 44px;
    padding: 10px, 25px;
    margin-top: 40px;
    ;
    width: 134px;
}

/***** DIFERENCE-BAR *****/

.difference-bar {
    align-items: center;
    background-color: #8B48BF;
    color: #FFFFFF;
    width: 100%;
}

.difference-bar-wraper {
    display: flex;
    justify-content: center;
    gap: 100px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
}

#difference-bar-h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 41.26px;
    width: 450px;
}

#difference-bar-p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24.18px;
    width: 450px;
}

/***** TRACKING-COMPANY-SECTION *****/

.tracking-company-section {
    background-color: #FAFAFA;
    width: 100%;
}

.tracking-company-section-wraper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
}

.tracks {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    padding: 10px 25px;
    width: 550px;

}

.tracks h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #323851;
    display: flex;
    text-align: left;
    margin-bottom: 15px;
}

.tracks p {
    font-weight: 500;
    font-weight: 16.3px;
    line-height: 25.52px;
    color: #B3B2B7;
    display: flex;
    text-align: left;
}

.tracking-company-section-button {
    background-color: #8B48BF;
    border: none;
    border-radius: 80px;
    color: #FFFFFF;
    font-size: 15px;
    height: 35px;
    padding: 10px;
    width: 150px;
    margin-right: 20px;
}

/***** BEST-OF-THE-MONTH-SECTION *****/

.best-of-the-month-wraper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.best-of-the-month h3 {
    font-size: 39.21px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.best-of-the-month-article {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 70px;
    padding: 80px;
    gap: 30px;
}

.container {
    position: relative;
}

.best-of-the-month img {
    position: absolute;
    top: -120px;
    left: calc(50% - 35px);
}

.best-of-the-month h4 {
    font-size: 16.07px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    line-height: 40px;
    color: #242E53;
}

.best-of-the-month p {
    color: #B9B9C1;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.best-of-the-month button {
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 15px;
    height: 44px;
    padding: 10px, 25px;
    margin-top: 60px;
    width: 134px;
}

.best-of-the-month button:hover {
    background: rgba(139, 72, 191, 0.7);
    cursor: pointer;
}

.container-button {
    text-align: center;
}

/***** TEAMS-BAR *****/

.teams {
    background-color: #8B48BF;
    color: #FFFFFF;
    width: 100%;
}

.teams-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
}

.teams h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 400px;
}

.teams button {
    background: #FFFFFF;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #8B48BF;
    font-size: 15px;
    height: 44px;
    padding: 10px, 25px;
    width: 134px;
    margin-right: 60px;
}

/***** FOOTER *****/

footer {
    background-color: #1E1E26;
    padding: 50px 0px 50px 0px;
}

.footer-wraper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 100px;
    max-width: 1110px;
    margin: 0 auto;
}

.social-networks {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
}

.access {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 219px;
}

footer ul li a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 100px;
}

footer input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 201px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 50px;
    border: none;
}

footer button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 63px;
    height: 42px;
    background: #8B48BF;
    border-radius: 50px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    border: none;
}

input :placeholder {
    color: #A0A0A0;
}

form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.seeker {
    display: flex;
    flex-direction: column;
}

.rights {
    padding-top: 20px;
    margin: 0 auto;
    text-align: right;
    color: #8C8C94;
    font-weight: 500;
    font-size: 12.5px;
    max-width: 1110px;
}

/***** MEDIA-QUERIES *****/

@media (max-width:480px) {

    .header-wraper {
        max-width: 400px;
        padding: 30px 0px;
    }

    .nav-list-content {
        display: none;
    }

    .nav-button-content {
        display: none;
    }

    .hamburguer-menu {
        display: block;
    }

    .hero-wraper {
        flex-wrap: wrap;
        max-width: 420px;
    }

    .hero-wraper h1 {
        margin-top: 70px;
    }

    .hero-wraper p {
        margin-top: 25px;
    }

    .difference-bar {
        background-color: #3CDDF3;
    }

    .difference-bar-wraper {
        max-width: 440px;
        flex-wrap: wrap;
    }
    
    .best-of-the-month-wraper {
        max-width: 430px;

    }

    .best-of-the-month-article>article:nth-child(1) {
        display: none;
    }

    .best-of-the-month-article>article:nth-child(3) {
        display: none;
    }

    .teams {
        background-color: #3CDDF3;
    }

    .teams-wraper {
        max-width: 440px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .teams h2 {
        width: 280px;
        text-align: center;
    }

    .teams button {
        background: #232C50;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        margin: 0;
    }

    .footer-wraper {
        max-width: 420px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 60px;
        align-items: center;
    }

    .social-networks {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }

    .rights {
        max-width: 420px;
        text-align: center;
    }

    .icon {
        gap: 75px;
    }

    .access {
        gap: 100px;

    }

    .seeker input {
        width: 308px;
    }
}